.info-box {
  margin: 0 0 50px;
}

.info-box p {
  margin: 0 0 15px;
}

.info-box .text-box p {
  margin: 0 0 10px;
}

.h2,
h2 {
  margin: 0 0 10px;
  text-transform: uppercase;
  font-family: "brandon-grotesque", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 700;
  color: #00a9b0;
  font-size: 22px;
  line-height: 1.21;
}

.text-box {
  color: #001225;
  font-size: 19px;
  line-height: 1.22;
}

.timeline-list {
  position: relative;
}

.timeline-list > li {
  margin: 0 0 55px;
}

.year {
  text-transform: uppercase;
  font-family: "Brandon-grotesque", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 900;
  line-height: 1.2;
  font-size: 15px;
  color: #7f7e82;
  margin: 0 0 12px;
}

h3,
.h3 {
  font-weight: 400;
  margin: 0 0 10px;
  color: #000;
  line-height: 1.2;
  font-size: 23px;
  font-family: "brandon-grotesque", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}

h3 strong,
.h3 strong {
  font-weight: 700;
}

.bullet-list > li {
  margin: 0 0 15px;
  position: relative;
  padding: 0 0 0 18px;
}

.bullet-list > li:before {
  content: "";
  background: #231f20;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 2px;
}

.bullet-list a:hover {
  text-decoration: underline;
}

.category-list > li {
  margin: 0 0 15px;
}

.category-list .dt {
  float: left;
  font-weight: 700;
  margin: 0 10px 0 0;
  letter-spacing: 0.5px;
  color: #7f7e82;
}

.tag-list {
  letter-spacing: -4px;
  color: #001225;
}

.tag-list > li {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  position: relative;
  letter-spacing: 0;
  color: #001225;
}

.tag-list > li:after {
  content: "•";
  display: inline-block;
  vertical-align: top;
  margin: 1px 5px 0;
}

.tag-list > li:last-child:after {
  display: none;
}

.tag-list a {
  color: #001225;
}

.tag-list a:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .two-columns {
    padding: 50px 30px 10px;
  }

  .timeline-list {
    padding: 10px 0 10px;
  }

  .timeline-list:before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #7f7e82;
    position: absolute;
    bottom: 0;
    left: 70px;
    z-index: 1;
  }

  .timeline-list > li {
    position: relative;
    padding: 0 0 0 110px;
  }

  .timeline-list > li:last-child {
    margin: 0;
  }

  .timeline-list > li:last-child:after {
    bottom: -22px;
  }

  .timeline-list > li:before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #001225;
    position: absolute;
    top: 8px;
    left: 70px;
    z-index: 1;
  }

  .timeline-list > li:after {
    content: "";
    width: 2px;
    position: absolute;
    top: 10px;
    left: 74px;
    bottom: -65px;
    background-image: linear-gradient(#ffffff, #7f7e82);
  }

  .year.absolute {
    width: 70px;
    position: absolute;
    top: 5px;
    left: 0;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .two-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 17px;
  }

  #sidebar {
    width: 336px;
    padding: 150px 20px 20px 30px;
  }

  .logo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .sidebar-info-list li {
    margin: 0 0 18px;
  }

  .sidebar-info-list li:first-child .dt {
    margin: 0 0 3px;
  }

  .sidebar-info-list .dt {
    margin: 0 0 5px;
  }

  .shop-block {
    padding-top: 10px;
  }

  .two-columns {
    padding: 48px 61px 10px;
  }

  .two-columns .col-2 {
    padding: 0 0 0 34px;
  }

  .info-box {
    margin: 0 0 55px;
  }

  .info-box .text-box p {
    margin: 0 0 24px;
  }

  .h2,
  h2 {
    margin: 0 0 19px;
  }

  .text-box {
    font-size: 19px;
  }

  .timeline-list {
    padding: 10px 0 27px;
    margin: 0 0 70px;
  }

  .timeline-list:before {
    width: 14px;
    height: 14px;
    left: 73px;
  }

  .timeline-list > li {
    margin: 0 0 112px;
  }

  .timeline-list > li:last-child:after {
    bottom: -37px;
  }

  .timeline-list > li:before {
    width: 14px;
    height: 14px;
    top: 5px;
    left: 73px;
  }

  .timeline-list > li:after {
    width: 4px;
    left: 78px;
    bottom: -120px;
  }

  .year {
    margin: 0 0 10px;
  }

  .year.absolute {
    top: 1px;
    width: 72px;
  }

  h3,
  .h3 {
    margin: 0 0 7px;
  }

  .bullet-list {
    padding: 15px 0 0;
  }

  .bullet-list > li {
    margin: 0 0 21px;
    padding: 0 0 0 17px;
  }

  .bullet-list > li:before {
    top: 5px;
  }

  .category-list {
    padding: 2px 0 0;
  }

  .category-list > li {
    margin: 0 0 23px;
  }

  .category-list .dt {
    margin: 0 3px 0 0;
  }
}

@media (min-width: 1600px) {
  body {
    font-size: 24px;
  }

  .shop-block {
    padding-top: 33px;
  }

  .shop-block .ico-holder {
    width: 71px;
    margin: 0 17px 0 0;
  }

  .shop-block .text {
    width: calc(100% - 88px);
  }

  .two-columns {
    padding: 67px 86px 10px;
  }

  .two-columns .col-1 {
    padding: 0 17px 0 0;
  }

  .two-columns .col-2 {
    padding: 0 0 0 47px;
  }

  .info-box {
    margin: 0 0 76px;
  }

  .info-box .text-box p {
    margin: 0 0 31px;
  }

  .h2,
  h2 {
    font-size: 31px;
    margin: 0 0 26px;
  }

  .text-box {
    font-size: 25px;
  }

  .timeline-list {
    padding: 14px 0 31px;
    margin: 0 0 99px;
  }

  .timeline-list:before {
    width: 18px;
    height: 18px;
    left: 104px;
  }

  .timeline-list > li {
    padding: 0 0 0 155px;
    margin: 0 0 154px;
  }

  .timeline-list > li:last-child:after {
    bottom: -55px;
  }

  .timeline-list > li:before {
    width: 18px;
    height: 18px;
    top: 9px;
    left: 104px;
  }

  .timeline-list > li:after {
    left: 111px;
    top: 15px;
    bottom: -165px;
  }

  .year {
    font-size: 21px;
    margin: 0 0 14px;
  }

  .year.absolute {
    top: 3px;
    width: 105px;
  }

  h3,
  .h3 {
    font-size: 35px;
    margin: 0 0 10px;
  }

  .bullet-list {
    padding: 22px 0 0;
  }

  .bullet-list > li {
    margin: 0 0 28px;
    padding: 0 0 0 24px;
  }

  .bullet-list > li:before {
    width: 7px;
    height: 6px;
    top: 8px;
    left: 3px;
  }

  .category-list {
    padding: 5px 0 0;
  }

  .category-list > li {
    margin: 0 0 31px;
  }

  .category-list .dt {
    margin: 0 7px 0 0;
  }
}
